
.b-weather-temp {
  font-family: "Proxima Nova Rg";
  color: #ffffff;

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 139px;
  }

  &__value {
    font-size: 90px;
    font-weight: 300;
    line-height: 125px;
    margin-left: 45px;
    @include md(font-size, 180px);
  }

  &__desc {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    @include md(font-size, 25px);
  }

  &__no-sity {
    font-size: 43px;
  }
}