<div class="b-weather-temp">

    <div v-if="!isNaN(getTemp)" class="b-weather-temp__wrapper">
        <img class="b-weather-temp__img" src="./img/sun.png" title="Преимущественно солнечно"
             alt="Преимущественно солнечно">
        <div class="b-weather-temp__value">
            {{getTemp}}º
        </div>
    </div>
    <div class="b-weather-temp__no-sity" v-else>
        <img src="./img/preloader.svg" alt="">
    </div>

    <div v-if="weather.strDescription" class="b-weather-temp__desc">
        {{weather.strDescription}}
    </div>

</div>