.b-weather-inform {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;

  &__item {
    @include size(6);
    @include size-md(3);
  }

  &__title {
    opacity: 0.6;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 7px;
    @include md(font-size, 18px);
  }

  &__value {
    font-size: 18px;
    font-weight: 400;
    @include md(font-size, 25px);

    span {
      font-weight: 700;
    }
  }

}