<div class="b-weather-inform">
    <div v-if="weather.fWindSpeed" class="b-weather-inform__item">
        <h2 class="b-weather-inform__title">
            Ветер
        </h2>
        <div class="b-weather-inform__value">
            <span>{{ weather.fWindSpeed }}</span> м/c, {{ weather.nWindDirection }}
        </div>
    </div>
    <div v-if="weather.nPressure" class="b-weather-inform__item">
        <h2 class="b-weather-inform__title">
            Давление
        </h2>
        <div class="b-weather-inform__value">
            <span>{{ weather.nPressure }}</span> мм рт. ст.
        </div>
    </div>
    <div v-if="weather.nHumidity" class="b-weather-inform__item">
        <h2 class="b-weather-inform__title">
            Влажность
        </h2>
        <div class="b-weather-inform__value">
            <span>{{ weather.nHumidity }}</span>%
        </div>
    </div>
    <div v-if="weather.rein" class="b-weather-inform__item">
        <h2 class="b-weather-inform__title">
            Вероятность дождя
        </h2>
        <div class="b-weather-inform__value">
            <span> {{ weather.rein }} </span>%
        </div>
    </div>
</div>