<div class="b-weather-mobile-city-select">
    <a class="b-weather-mobile-city-select__change" href="#">Сменить город</a>
    <a @click="curLocation()" class="b-weather-mobile-city-select__change" href="#"><img src="./img/marker.png" alt="">Моё местоположение</a>
</div>