.b-weather-mobile-city-select {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  @include md(display, none);

  a {
    display: flex;
    align-items: center;
    opacity: 0.6;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;

    img {
      margin-right: 10px;
    }
  }
}