<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=5ea9255e-88c9-427e-a7d9-a12a02f0cf39&lang=ru_RU" defer></script>
<script src="./js/main.js" defer></script>