<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>weather</title>
    //= includes/head.html
</head>
<body>
<div id="weather">
    <div v-if="loading" id="page-preloader">
        <img src="./img/preloader.svg" alt="">
    </div>
    <div class="header-wrapper container">
    //= layouts/header.html
    </div>
   <div class="body-wrapper container">
       //= layouts/main.html
   </div>
    <div class="footer-wrapper container">
    //= layouts/footer.html
    </div>
</div>
    //= includes/scripts.html
</body>
</html>