.b-weather-temp-type {
  display: flex;
  position: relative;
  border: 1px solid #92baf4;
  border-radius: 8px;

  &:before {
    content: "o";
    position: absolute;
    left: -17px;
    margin-right: 9px;
    color: #92baf4;
    font-size: 12px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 29px;
    text-decoration: none;
    opacity: 0.4;

    &--left {
      border-radius: 8px 0 0 8px;
      border-right: 0;
      color: #fff;
    }

    &--right {
      background-color: #498cec;
      border-radius: 0 8px 8px 0;
      border-left: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }

}