<div class="b-weather-temp-type">
    <a class="b-weather-temp-type__btn b-weather-temp-type__btn--left "
       :class=" ttype == 'C' ? 'b-weather-temp-type__btn--active' : '' "
       href="#" @click="changeType('C')">
        C
    </a>
    <a class="b-weather-temp-type__btn b-weather-temp-type__btn--right"
       :class=" ttype == 'F' ? 'b-weather-temp-type__btn--active' : '' "
       href="#" @click="changeType('F')">
        F
    </a>
</div>