<div class="b-weather-city">
    <div class="input-wrapper">
        <input @focus="focusLocation (true)" @blur="focusLocation (false)" v-model="location.strCityName" placeholder="Населённый пункт" class="b-weather-city__select--desktop" type="text">
        <a v-if="location.length !== 0" @click="getCityWeather" class="b-weather-city__select-btn--desktop" href="#">OK</a>
    </div>
    <div v-if="enterLocation && locations.length !== 0" class="b-weather-city__locations--desktop">
        <a v-for="location in locations" href="#" @click="changeLocation(location)"> {{location.strText}} </a>
    </div>
    <div class="b-weather-city__select--mobile">
        {{location.strCityName}}
    </div>
</div>