.b-weather-city {
  display: flex;
  flex-direction: column;
  width: 495px;
  @include lg(width, 579px);
  align-items: center;
  position: relative;

  &__select--desktop {
    display: none;
    width: 495px;
    @include lg(width, 579px);
    height: 97px;
    padding: 32px 94px 32px 32px;
    box-sizing: border-box;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ffffff;
    @include md(display, block);
  }

  &__select--mobile {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    @include md(display, none);
  }
  
  &__select-btn--desktop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
    color: #009bff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    @include md(display, block);
  }

  &__locations--desktop {
    display: flex;
    flex-direction: column;
    width: 93%;
    background: #fff;
    margin-top: -8px;
    border-top: 1px solid #ececec;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.15);
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 50;

    a {
      color: #6e7379;
      text-decoration: none;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #dfe5ec;
      line-height: 20px;

      &:hover {
        color: #498cec;
      }
    }
  }

}
.input-wrapper {
  position: relative;
}