body {
  background-color: #498cec;
  font-family: "Proxima Nova Rg";
}

h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

.container {
	@include container();
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
}

.img-responsive {
  max-width: 500px;
  width: 100%;
  height: auto;
}

div#weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-wrapper {
  display: flex;
  flex-grow: 2;
  width: calc(100% - 30px);
  height: 100%;
  justify-content: center;
  align-items: center;
  @include md(width, 100%);
}

.header-top-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#page-preloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: #498cec;
  font-size: 40px;
  color: #fff;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 30px);
  padding-top: 26px;
  box-sizing: border-box;
  height: 300px;
  @include md(width, 100%);
  @include md(padding-top, 81px);
}

.footer-wrapper {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 30px);
  height: 300px;
  @include md(width, 100%);
}
